{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Inscription {% endblock %}

{% block body %}

<h1 class="text-center titre mt-4 pt-4 display-1 fw-bold">
			Inscription </h1>

<div class="row justify-content-center">
		<div class="col-12 col-md-6 bg-white p-4 m-0 titre">
             {% for flash_error in app.flashes('verify_email_error') %}
                  <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
             {% endfor %}


              {{ form_start(registrationForm) }}
                  {{ form_row(registrationForm.email) }}
                  {{ form_row(registrationForm.pseudo) }}
                  {{ form_row(registrationForm.plainPassword, {
                     label: 'Mot de passe'
              }) }}<br>
                   {{ form_row(registrationForm.agreeTerms, {label: 'Acceptez les conditions dutilisations'}) }}

            <div class="text-center">
              <button type="submit" class="btn envoyer text-white m-4">Inscription</button>
                {{ form_end(registrationForm) }}
            </div>
      <div class="text-center titre">
				 <a href="{{path('app_login')}}">  
                     	Vous avez déjà un compte?   
                </a>
					 </div>
    </div>
 </div>
{% endblock %}
